{:path ["src/clj/ch01/"
        "src/clj/ch02/"
        "src/clj/ch03/"
        "src/clj/ch04/"
        "src/clj/ch05/"
        "src/clj/ch06/"
        "src/clj/ch07/"
        "src/clj/ch08/"
        "src/clj/ch09/"
        "src/clj/ch11/"
        "src/clj/ch12/"
        "src/clj/ch13/"
        "src/clj/ch14/"
        "src/clj/ch15/"
        "src/clj/ch16/"
        "src/clj/ch17/"
        ]}
